*{  /* Add to all sytles */
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    /* Style for Main Heading */
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 39px;
}
.titlenav{
    /* Div Class Styles for Nav */
    background-image: url(../../resources/images/flatiron.png);
    background-position: right; 
}
a, ul, li{
    /* Additional Styles for Nav */
    color: white;
    font-size: 18px; 
    list-style: none; 
    margin: 10px auto;
    font-weight: bold;
}
.pro{
    /* Div Class Styles for Process */
    position: left;
    margin: 0;
    padding: 0;
}
h2{
    /* Add top margin to Main Heading for Process */
    margin-top: 25px;
    font-weight: bold;
    font-size: 32px;
}
.proimgs{
    /* Add margin to Process Images */
    margin: 15px 0;
}
h3{
    /* Add margin & size to all subheadings*/
    margin: 15px 0;
    font-size: 23px;
}
.prop{
    /* Styles for Process Descriptions */
    font-family: cursive;
    font-weight: bold;  
    font-size: 19px;
    margin-bottom: 10px;
}
.team{
    /* Div Class Style for Work Section */
    margin: 15px;

    
}
.wrkban{   
    /* Div Class Styles for Work Banner */
    background-image: url(../../resources/images/flatiron.png);
    background-position: right;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0 10px 0;
    margin:25px 0 25px 0;
    font-family: cursive;

}
p{
    /* Styles for Work, Team, and Contact Descriptions */
    font-family: cursive;
    font-weight: bold;
    font-size: 19px;
    margin: 25px auto; 
}
.foot{
    /* Div Class for Footer */
    background-color: dimgray;
    text-align: left;
    margin: 0;
    padding: 0;
}
.footp{
    /* Styles for Copyright Text */
    font-size: 11px;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;

}
